cairocffi==1.1.0
CairoSVG==2.4.2
cffi==1.13.2
cssselect2==0.2.2
defusedxml==0.6.0
diff-match-patch==20181111
Django==2.2
django-classy-tags==0.9.0
django-import-export==2.0
django-sekizai==1.0.0
django-session-timeout==0.0.4
django-wkhtmltopdf==3.3.0
et-xmlfile==1.0.1
html5lib==1.0b10
httplib2==0.17.0
jdcal==1.4.1
MarkupPy==1.14
odfpy==1.4.0
openpyxl==3.0.3
pdfkit==0.6.1
Pillow==7.0.0
pycparser==2.19
PyMySQL==0.9.3
PyPDF2==1.26.0
Pyphen==0.9.5
pytz==2019.3
PyYAML==5.3
reportlab==3.5.34
six==1.13.0
sqlparse==0.3.0
tablib==0.14.0
tinycss2==1.0.2
webencodings==0.5.1
xlrd==1.2.0
xlwt==1.3.0

furl==2.1.0
