{% extends 'orphanage/base.html' %}

{% block stylesheets %}
    <style>
        img {
            width: 100%;
        }
    </style>
{% endblock stylesheets %}

{% block  main %}
    <div class="page-content">
        <div class="hk-pg-header mb-0">
            <h4 class="hk-pg-title rtl font-weight-bold w-100 justify-content-end pr-4 pt-2 pb-0">
                المعلومات الخاصة بالتلميذ{% if child.sex == 'f' %}ة{% endif %} {{ child.full_name }}
            </h4>
        </div>

        <div class="container mt-3">
            <div class="row infos rtl">
                <div class="col-md-9 col-sm-12 basic-infos">
                    <table class="rtl w-100 table-striped table-sm">
                        <tr><td>{{ child.birthday|date:'d/m/Y'|default_if_none:'' }}</td>
                            <th>:تاريخ الإزدياد</th></tr>
                        <tr><td>{{ child.phone_number|default_if_none:'' }}</td>
                            <th>:رقم الهاتف</th></tr>
                        <tr><td>{{ child.village|default_if_none:'' }}</td>
                            <th>:الدوار</th></tr>
                        <tr><td>{{ child.weight|default_if_none:'' }} Kg</td>
                            <th>:الوزن</th></tr>
                        <tr><td>{{ child.height|default_if_none:'' }} cm</td>
                            <th>:القامة</th></tr>
                        <tr><td>{{ child.bed_position|default_if_none:'' }}</td>
                            <th>:تموضع السرير</th></tr>
                        <tr><td>{{ child.shoo_size|default_if_none:'' }}</td>
                            <th>:مقاس الحذاء</th></tr>
                        {% if child.vision %}
                            <tr><td>{{ child.vision }}</td>
                                <th>:الرؤية</th></tr>
                        {% endif %}
                        {% if child.orphan_side %}
                            <tr><td>{{ child.orphan_side|default_if_none:'' }}</td>
                                <th>:اليتم</th></tr>
                        {% endif %}
                        {% if child.chronic_disease %}
                            <tr><td class="text-danger">{{ child.chronic_disease }}</td>
                                <th>:مرض مزمن</th></tr>
                        {% endif %}
                        <tr><td>{{ child.hobby|default_if_none:'' }}</td>
                            <th>:الهواية</th></tr>
                        {% if child.status %}
                            <tr><td>{{ child.status }}</td>
                                <th>:الحالة</th></tr>
                        {% endif %}
                    </table>
                </div>
                <div class="col-md-3 col-sm-12 img_container">
                    <img class="image" src="{% if child.picture %}{{ child.picture.url }}{% else %}/media/images/default/{% if child.sex == 'm' %}boy{% else %}girl{% endif %}_avatar.png{% endif %}" alt="{{ child.full_name }}">
                    <div>
                        <h3 class="text-center">{{ child.full_name }}</h3>
                        <h5 class="text-center">{{ child.grade }}المستوى </h5>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 mt-2">
                    <a class="btn btn-secondary font-weight-bold" href="{% url 'orphanage:print_card' child.id %}">بطاقة التلميذ{% if child.sex == 'f' %}ة{% endif %}</a>

                    <a class="btn btn-primary font-weight-bold" href="{% url 'orphanage:child_update' child.id %}">تحديث البيانات</a>
                </div>
            </div>
        </div>
    </div>
{% endblock main %}

{% block js %}
{% endblock js %}
