{% extends 'orphanage/base.html' %}
{% load staticfiles %}

{#{% block stylesheets %}#}

{#{% endblock stylesheets %}#}

{% block main %}
    <!-- Main Content -->
    <div class="page-content">
        <div class="hk-pg-header pt-4 mb-0">
            <h4 class="hk-pg-title rtl font-weight-bold w-100 justify-content-end pr-4 pt-2 pb-0">
                الصفحة الرئيسية
            </h4>
        </div>

        <div class="hk-sec-wrapper m-3">
            <div class="row">
                <div class="col-sm-12">
                    <div class="ar-boxes">
                        <div class="ar-link-box cgreen"> <!-- bbr: border-bottom-blue -->
                            <a class="font-lg-20" href="{% url 'orphanage:children' %}">قائمة الأطفال</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- /Main Content -->
{% endblock main %}

{% block js %}
{% endblock js %}