{% extends 'orphanage/base.html' %}
{% load static %}

{% block extra_css %}
    <style>
        img.image {
            width: 100%;
        }
    </style>
{% endblock extra_css %}

{% block header_actions %}  
    <div class="btn-group float-md-right" role="group" aria-label="Button group with nested dropdown">
        <div class="btn-group" role="group">
            <button class="btn btn-outline-primary dropdown-toggle dropdown-menu-left" id="btnGroupDrop1" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="ft-more-vertical icon-left"></i> المزيد
            </button>
            <div class="dropdown-menu dropdown-menu-left" aria-labelledby="btnGroupDrop1" style="width: 175px;">
                <a class="dropdown-item" onclick="delete_instance()">مسح بينات التلميذ{% if child.sex == 'f' %}ة{% endif %}</a>
            </div>
        </div>
        <a class="btn btn-outline-primary" href="{% url 'orphanage:print_card' child.id %}" title="طباعة بطاقة التلميذ{% if child.sex == 'f' %}ة{% endif %}" target="_blank"><i class="ft-printer"></i></a>
        <a class="btn btn-outline-primary" href="{% url 'orphanage:child_update' child.id %}" title="تحديث بينات التلميذ{% if child.sex == 'f' %}ة{% endif %}"><i class="ft-edit"></i></a>
        <a class="btn btn-outline-primary" href="{% url 'orphanage:child_insert' %}" title="إضافة تلميذ(ة)"><i class="ft-plus"></i></a>
    </div>
{% endblock header_actions %}

{% block content_body %}

<section id="javascript">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                    <div class="heading-elements">
                        <ul class="list-inline mb-0">
                            <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                            <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="card-content collpase show">
                    <div class="card-body card-dashboard">
                        <div class="container-fluid dt-bootstrap4 no-footer">
                            <div class="container">
                                <div class="row infos">
                                    <div class="col-md-3 col-sm-12 img_container">
                                        <img class="image" src="{% if child.picture %}{{ child.picture.url }}{% else %}/static/orphanage/img/default/{% if child.sex == 'm' %}boy{% else %}girl{% endif %}_avatar.png{% endif %}" alt="{{ child.full_name }}">
                                        <div>
                                            <h3 class="text-center">
                                                {% if child.full_name %}{{ child.full_name }}
                                                    {% else %}{{ child.first_name }} {{ child.last_name }}{% endif %}
                                            </h3>
                                            {% if child.get_student %}
                                                <h5 class="text-center">المستوى {{ child.get_student.grade|default_if_none:"-- " }}</h5>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="col-md-9 col-sm-12 basic-infos">
                                        <table class="w-100 table-striped table-sm">
                                            <tr>
                                                <th style="width: 150px;">:رقم التسجيل بالمركب</th>
                                                <td>{{ child.subscription_id }}</td>
                                            </tr>
                                            <tr>
                                                <th>:تاريخ الإزدياد</th>
                                                <td>{{ child.birthday|date:'Y/m/d'|default_if_none:'' }}</td>
                                            </tr>
                                            <tr>
                                                <th>:رقم الهاتف</th>
                                                <td>{{ child.phone_number|default_if_none:'' }}</td>
                                            </tr>
                                            <tr>
                                                <th>:الدوار</th>
                                                <td>{{ child.get_address|default_if_none:'' }}</td>
                                            </tr>
                                            <tr>
                                                <th>:الوزن</th>
                                                <td>{{ child.weight|default_if_none:'' }} Kg</td>
                                            </tr>
                                            <tr>
                                                <th>:القامة</th>
                                                <td>{{ child.height|default_if_none:'' }} cm</td>
                                            </tr>
                                            <tr>
                                                <th>:تموضع السرير</th>
                                                <td>{{ child.bed_position|default_if_none:'' }}</td>
                                            </tr>
                                            <tr>
                                                <th>:مقاس الحذاء</th>
                                                <td>{{ child.shoo_size|default_if_none:'' }}</td>
                                            </tr>
                                            {% if child.vision %}
                                                <tr>
                                                    <th>:الرؤية</th>
                                                    <td>{{ child.vision }}</td>
                                                </tr>
                                            {% endif %}
                                            {% if child.orphan_side %}
                                                <tr>
                                                    <th>:اليتم</th>
                                                    <td>{{ child.orphan_side|default_if_none:'' }}</td>
                                                </tr>
                                            {% endif %}
                                            {% if child.chronic_disease %}
                                                <tr>
                                                    <th>:مرض مزمن</th>
                                                    <td class="text-danger">{{ child.chronic_disease }}</td>
                                                </tr>
                                            {% endif %}
                                            <tr>
                                                <th>:الهواية</th>
                                                <td>{{ child.hobby|default_if_none:'' }}</td>
                                            </tr>
                                            {% if child.status %}
                                                <tr>
                                                    <th>:الحالة</th>
                                                    <td>{{ child.status }}</td>
                                                </tr>
                                            {% endif %}
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content_body %}

{% block extra_js %}
    <script>
        // Delete child
        function delete_instance() {
            swal({
                title: "تحذير",
                text: "هل أنت متأكد من مسح بينات التلميذ{% if child.sex == 'f' %}ة{% endif %} ؟",
                icon: "error",
                buttons: ['إلغاء', 'نعم'],
                dangerMode: true,
            }).then((willDelete) => {
                if (willDelete) {
                    $('body').append(`
                        <form method="POST" id="delete_form">
                            {% csrf_token %}
                            <input type="hidden" name="action" value="delete">
                        </form>
                    `);
                    let form = $("#delete_form");
                    form.append($(".item_select").clone());
                    form.submit();
                }
            });
        }
    </script>
{% endblock extra_js %}














{% block modals %}
{#    MODALS #}
    <div class="modal fade" id="delete_confirmation_modal" tabindex="-1" role="dialog" aria-labelledby="delete_confirmation_modalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="delete_confirmation_modalLabel">هل أنت متأكد من مسح بيانات التلميذ(ة)</h5>
                    <button type="button" class="close" style="margin: -1rem auto -1rem -1rem;" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-footer">
                    <form method="POST">
                        {% csrf_token %}
                        <button type="button" class="btn btn-info" data-dismiss="modal">إلغاء</button>
                        <input type="hidden" name="action" value="delete">
                        <input type="submit" class="btn btn-danger" value="نعم">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock modals %}
