{% extends 'orphanage/base.html' %}
{% load staticfiles %}

{% block extra_css %}
    <style>
        img.image {
            width: 100%;
        }
        label.custom-file-label::after {
            content: 'تصفح' !important;
        }
    </style>

    {% include 'orphanage/imports/css/forms.html' %}

{% endblock extra_css %}

{% block header_actions %}
    <div class="btn-group float-md-right" role="group" aria-label="Button group with nested dropdown">
        <a class="btn btn-outline-primary" href="{% if form.instance.id %}{%  url 'orphanage:student_details' grade.id form.instance.id %}{% else %}{%  url 'orphanage:students' grade.id  %}{% endif %}">
            <i class="ft-x"></i> إلغاء
        </a>
    </div>
{% endblock header_actions %}

{% block  content_body %}
    <div class="page-content">

        <div class="container mt-3">
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-9 col-sm-12">
                        <div class="row">
                            <div class="col-md-6 col-sm-12 form-group{% if form.child.errors %} error{% endif %}">
                                <label class="font-weight-bold" for="id_child">{{ form.child.label }}</label>
                                {{ form.child }}
                                {% if form.child.errors %}
                                    <div class="help-block"><ul class="alert">
                                        {% for error in form.child.errors %}
                                            <li>{{ error }}</li>
                                        {% endfor %}
                                    </ul></div>
                                {% endif %}
                            </div>
                            <div class="col-md-6 col-sm-12 form-group{% if form.status.errors %} error{% endif %}">
                                <label class="font-weight-bold" for="id_status">{{ form.status.label }}</label>
                                {{ form.status }}
                                {% if form.status.errors %}
                                    <div class="help-block"><ul class="alert">
                                        {% for error in form.status.errors %}
                                            <li>{{ error }}</li>
                                        {% endfor %}
                                    </ul></div>
                                {% endif %}
                            </div>
                            <div class="col-md-6 col-sm-12 form-group{% if form.s1_mark.errors %} error{% endif %}">
                                <label class="font-weight-bold" for="id_s1_mark">{{ form.s1_mark.label }}</label>
                                {{ form.s1_mark }}
                                {% if form.s1_mark.errors %}
                                    <div class="help-block"><ul class="alert">
                                        {% for error in form.s1_mark.errors %}
                                            <li>{{ error }}</li>
                                        {% endfor %}
                                    </ul></div>
                                {% endif %}
                            </div>
                            <div class="col-md-6 col-sm-12 form-group{% if form.s2_mark.errors %} error{% endif %}">
                                <label class="font-weight-bold" for="id_s2_mark">{{ form.s2_mark.label }}</label>
                                {{ form.s2_mark }}
                                {% if form.s2_mark.errors %}
                                    <div class="help-block"><ul class="alert">
                                        {% for error in form.s2_mark.errors %}
                                            <li>{{ error }}</li>
                                        {% endfor %}
                                    </ul></div>
                                {% endif %}
                            </div>
                            <div class="col-md-6 col-sm-12 form-group{% if form.year_mark.errors %} error{% endif %}">
                                <label class="font-weight-bold" for="id_year_mark">{{ form.year_mark.label }}</label>
                                {{ form.year_mark }}
                                {% if form.year_mark.errors %}
                                    <div class="help-block"><ul class="alert">
                                        {% for error in form.year_mark.errors %}
                                            <li>{{ error }}</li>
                                        {% endfor %}
                                    </ul></div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <a class="btn btn-secondary font-weight-bold" href="{% if form.instance.id %}{% url 'orphanage:student_details' grade.id form.instance.id %}{% else %}{% url 'orphanage:students' grade.id %}{% endif %}">
                            إلغاء
                        </a>
                        <button class="btn btn-primary font-weight-bold" type="submit" name="action" value="save">
                            {% if form.instance.id %}تحديث{% else %}إضافة{% endif %}
                            </button>
                    </div>
                </div>
            </form>
        </div>

    </div>
{% endblock content_body %}

{% block extra_js %}

    {% include 'orphanage/imports/js/forms.html' %}

    <script>
        $('.datetimepicker').datetimepicker({
            viewMode: 'years',
            locale: 'fr',
		    format: 'DD/MM/YYYY'
        });
    </script>

{% endblock extra_js %}
