{% extends 'orphanage/base.html' %}
{% load static %}


{% block extra_css %}
    <style>
        .inner-nav ul {
            list-style: none;
        }
    </style>
{% endblock extra_css %}


{% block header_actions %}  
    <div class="btn-group float-md-right" role="group" aria-label="Button group with nested dropdown">
        <div class="btn-group" role="group">
            <button class="btn btn-outline-primary dropdown-toggle dropdown-menu-left" id="btnGroupDrop1" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="ft-more-vertical icon-left"></i> المزيد
            </button>
            <div class="dropdown-menu dropdown-menu-left" aria-labelledby="btnGroupDrop1" style="width: 175px;">
                <a class="dropdown-item" onclick="delete_grade()">مسح المستوى الدراسي</a>
            </div>
        </div>
        <a class="btn btn-outline-primary" href="{% url 'orphanage:grade_insert' %}"><i class="ft-plus"></i></a>
        <a class="btn btn-outline-primary" href="{% url 'orphanage:grade_update' grade.id %}"><i class="ft-edit"></i></a>
    </div>
{% endblock header_actions %}


{% block  content_body %}

    <section id="javascript">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                        <div class="heading-elements">
                            <ul class="list-inline mb-0">
                                <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-content collpase show">
                        <div class="card-body card-dashboard">
                            <div class="container-fluid dt-bootstrap4 no-footer">
                                <div class="container">
                                    <div class="grade-menu">
                                        <div class="row mb-5">
                                            <!-- <div class="col-xl-4 col-lg-6 col-12">
                                                <div class="card">
                                                    <div class="card-content">
                                                        <a href="{% url 'orphanage:students' grade.id %}" class="text-white">
                                                            <div class="media align-items-stretch">
                                                                <div class="p-2 text-center bg-primary bg-darken-2">
                                                                    <i class="ft-users font-large-2 white"></i>
                                                                </div>
                                                                <div class="p-2 bg-gradient-x-primary white media-body">
                                                                    <h2>لائحة التلاميذ</h2>
                                                                    <h3 class="text-bold-400 mb-0">{{ students_count }}</h3>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div> -->
                                            <div class="col-12 inner-nav">
                                                <ul class="p-0">
                                                    <li><a class="btn btn-dark" href="{% url 'orphanage:students' grade.id %}">لائحة التلاميذ</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="subjects">
                                        <h1 class="font-weight-bold d-flex align-items-center">
                                            <span>لائحة المواد الدراسية</span>
                                            <button type="button" class="btn btn-outline-success font-weight-bold ml-2" data-toggle="modal" data-target="#subject-creation-modal">إضافة مادة دراسية</button>
                                        </h1>
                                        <table class="table table-striped table-bordered">
                                            <thead class="thead-active">
                                                <tr class="rtl">
                                                    <th scope="col">إسم المادة</th>
                                                    <th scope="col">رقم المادة</th>
                                                    <th scope="col">المعامل</th>
                                                    <th scope="col"></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for subject in subjects %}
                                                    <tr class="rtl">
                                                        <th><h3>{{ subject.title }}</h3></th>
                                                        <td>{{ subject.code }}</td>
                                                        <td>{{ subject.coeff }}</td>
                                                        <td>
                                                            <div class="btn-group" role="group">
                                                                <button class="btn btn-outline-primary dropdown-toggle dropdown-menu-left" id="btnGroupDrop1" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                    <i class="ft-more-vertical"></i>
                                                                </button>
                                                                <div class="dropdown-menu dropdown-menu-left" aria-labelledby="btnGroupDrop1" style="width: 175px;">
                                                                    <a class="dropdown-item" onclick="delete_subject({{ subject.id }})">مسح المادة الدراسية</a>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock content_body %}


{% block modals %}
<div class="modal fade text-left" id="subject-creation-modal" tabindex="-1" role="dialog" aria-labelledby="subjectCreationModal" style="display: none;" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form id="subject_creation_form" method="POST">
                {% csrf_token %}
                <input type="hidden" name="action" value="create_subject">
                <div class="modal-header">
                    <h4 class="modal-title text-center" id="myModalLabel2">إضافة مادة دراسية</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="font-weight-bold" for="id_title">{{ subject_form.title.label }}</label>
                        {{ subject_form.title }}
                        {% if subject_form.title.errors %}
                            <div class="invalid-feedback">
                                {{ subject_form.title.errors }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <label class="font-weight-bold" for="id_code">{{ subject_form.code.label }}</label>
                        {{ subject_form.code }}
                        {% if subject_form.code.errors %}
                            <div class="invalid-feedback">
                                {{ subject_form.code.errors }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <label class="font-weight-bold" for="id_coeff">{{ subject_form.coeff.label }}</label>
                        {{ subject_form.coeff }}
                        {% if subject_form.coeff.errors %}
                            <div class="invalid-feedback">
                                {{ subject_form.coeff.errors }}
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="modal-footer justify-content-start">
                    <button type="button" class="btn grey btn-outline-secondary" data-dismiss="modal">إلغاء</button>
                    <button type="submit" class="btn btn-outline-primary">إضافة</button>
                </div>
            </form>
        </div>
    </div>
  </div>
{% endblock modals %}


{% block extra_js %}

    <script>
        // Global vars
        let csrf_token = '{% csrf_token %}';

        // Functions
        function delete_grade() {
            delete_instance('هل أنت متأكد من مسح المستوى الدراسي ؟');
        }

        // Functions
        function delete_subject( subject_id ) {
            delete_instance('هل أنت متأكد من مسح هذه المادة الدراسية ؟', 'delete_subject', subject_id);
        }
    </script>

    <script src="{% static 'orphanage/js/crud_functions.js' %}"></script>

{% endblock extra_js %}
