{% extends 'orphanage/base.html' %}

{% block  content_body %}
<div class="page-content">

    <div class="hk-pg-header pt-4 mb-0">
        <h4 class="hk-pg-title rtl font-weight-bold w-100 justify-content-end pr-4 pt-2 pb-0">
                إضافة سنة دراسية
        </h4>
    </div>

    <div class="container mt-3">
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row infos rtl">
                <div class="col-md-6 col-sm-12 basic-infos">
                    <div class="row">
                        <div class="col-sm">
                            <div class="form-group">
                                <label class="font-weight-bold" for="id_year">{{ form.year.label }}</label>
                                {{ form.year }}
                                {% if form.year.errors %}
                                    <div class="invalid-feedback">
                                        {{ form.year.errors }}
                                    </div>
                                {% endif %}
                            </div>
                            <hr>
                            <a class="btn btn-default font-weight-bold" href="{%  url 'orphanage:year_details' %}">
                                إلغاء
                            </a>
                            <button class="btn btn-primary font-weight-bold" type="submit">تأكيد</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

</div>
{% endblock content_body %}
